:root {
  --soft-black: #2b2a2a;
  --charcoal: #5c5b59;
  --beige: #e5ded2;
  --cream: #f2efe8;
  --white: #fcfaf7;

  --olive: #bcbb76;
  --pale-olive: #dcdab0;
  --cobalt: #3448c7;
  --pale-cobalt: #5c6ccf;

  --corner: 3px;
}
